<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <appSettings>
    <!--<add key="Server" value="10.0.20.105:30015"/>
    <add key="LicenceServer" value="10.0.20.105:40000"/>
    <add key ="DBUser" value="SYSTEM"/>
    <add key ="DBPwd" value="Sapb1hana"/>
    <add key ="SAPDBName" value="SBOMYEG_SERVICESTRAINING1"/>
    <add key ="SAPUserName" value="manager"/>
    <add key ="SAPPassword" value="1234"/>
    
    <add key="SQLServer" value="localhost"/>
    <add key ="IntegDB" value="MyEgIntegDb"/>
    <add key ="SQLDBUser" value="postgres"/>
    <add key ="SQLDBPwd" value="Abeo123"/>
    <add key ="LogPath" value="E:\Project\work\AE_MYEG_SV01\AE_MYEG_SV01\AE_MYEG_SV01\bin\Debug"/>

    <add key="EserviceTax" value ="SR"/>-->
    <add key="Server" value="192.168.130.31:30015"/>
    <add key="LicenceServer" value="192.168.130.31:40000"/>
    <add key ="DBUser" value="B1ADMIN"/>
    <add key ="DBPwd" value="Sap@myeg2020"/>
    <add key ="SAPDBName" value="SBOMED_LIVE"/>
    <add key ="SAPUserName" value="manager"/>
    <add key ="SAPPassword" value="sap1234"/>

    <add key="SQLServer" value="192.168.120.61"/>
    <add key ="IntegDB" value="sap_migration"/>
    <add key ="SQLDBUser" value="postgres"/>
    <add key ="SQLDBPwd" value="postgres"/>
    <add key ="LogPath" value="C:\Users\owner\Desktop\VTL\Release\LOGS"/>

    <add key="EserviceTax" value ="N/A"/>
    <add key="IMMIApGLAccount" value =""/>
    <add key="BookingCostCenter" value ="HQ"/>

    <add key="Agency" value ="('INSURANCE')"/>
    <add key="Servicetype" value ="('VTL') "/>
    <add key="TableLoad" value ="ab_revenueandcost_vtl"/>
  </appSettings>
</configuration>
